<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<form class="form" th:action="@{/login}" method="post">
        <h2>Login</h2>
        <p style="color:gray">회원가입을 하시면 더 많은 서비스를 이용하실 수 있습니다.</p>
        <input type="text" name="userId" class="input" placeholder="아이디sadasdasdasdsadsㅁㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴ를 입력해주세요." required />
        <input type="password" name="userPwd" class="input" placeholder="비밀번호를 입력해주세요." required />
        <div th:if="${loginError != null}" style="color: red; font-size: 13px;">
            <p th:text="${loginError}"></p>
        </div>
        <button class="login-button" type="submit">로그인</button>

        <button class="continuelogin" th:href="@{/register}">
            <span>회원가입</span>
        </button>
        <button th:href="@{/findinfo}">
            아이디/비밀번호 찾기
        </button>
    </div>
</form>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>