@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 전체 페이지 스타일링 */
body {
    font-family: 'Pretendard-Light', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
.container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

/* 로그인 폼 스타일링 */
.input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-family: 'Pretendard-Regular', serif;
}

/* 로그인 버튼 스타일링 */
.login-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(77, 209, 170, 0.42);
    color: #333333;
    border: 1px solid rgba(52, 95, 83, 0.3);
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Pretendard-Regular', serif;
}

.login-button:hover {
    background-color: rgba(66, 181, 147, 0.42);
}

/* 구분선 스타일 */
.divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.divider hr {
    flex-grow: 1;
    height: 1px;
    background-color: #ddd;
    border: none;
    margin: 0;
}

.divider span {
    margin: 0 10px;
    color: #999;
    font-size: 14px;
}

/* 하단 링크 스타일링 */
.container a {
    text-decoration: none;
    color: #007bff;
}

.container a:hover {
    text-decoration: underline;
}
@media (max-width: 1024px) {
    .container {
        overflow-x: hidden;
        width:70%;
    }

}
@media (max-width: 768px) {
    .container {
        width:70%;
        overflow-x: hidden;
        margin: auto;
    }
}