@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Pretendard-Regular', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}
.login-container {
    margin-top:auto;
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    width: 400px;

}
.logo-login {
    font-size: 35px !important;
    font-family: 'Pretendard-Black', serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.logo-login span {
    font-size: 35px !important;
    font-weight: bold;
    color: #0b5700;
}


.message {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    box-sizing: border-box;
}
input:focus{
    border: 2px solid #234934;
    outline: none;
}
.login-btn {
    font-family: 'Pretendard-Regular', sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #1f5c26;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-btn:hover {
    background-color: #2b8035;
}
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.checkbox-container input {
    width: auto;
    margin-right: 5px;
    margin-top: 8px;
    height: auto;
}
.links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.links a {
    display: inline-block;
    width: 48%;
    text-align: center;
    padding: 20px 0;
    border: 1px solid #377151;
    border-radius: 4px;
    color: #377151;
    text-decoration: none;
    font-size: 16px;
}
.links a:first-child {
    padding: 20px 0;
}