@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Pretendard-Light', sans-serif;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.sign-container {
    padding: 40px;
    border-radius: 8px;
}

.sign-container h3 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}


input {
    width: 100%;

    /*max-width: 500px;*/
    padding: 10px;

    border: 1px solid #a1a1a1;
    border-radius: 3px;
    box-sizing: border-box;
}

input:focus {
    border: 2px solid #234934;
    outline: none;
}


select.input {
    width: calc(50% - 10px);
    padding: 10px;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;
    color: #333;
}

.horizontal-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.check-button {
    font-family: 'Pretendard-Regular', sans-serif;
    padding: 8px 10px;
    background-color: #1f5c26;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.check-button:hover {
    background-color: #2b8035;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 10px;
    padding: 0 0 15px 0;
}

.horizontal-group .input {
    width: calc(50% - 10px);
}


.login-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(77, 209, 170, 0.42);
    color: #333333;
    border: 1px solid rgba(52, 95, 83, 0.3);
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Pretendard-Regular', serif;
}

.login-button:hover {
    background-color: rgba(66, 181, 147, 0.42);
}
#errorMessage {
    color: red;
    font-size: 13px;
    padding: 5px 0;
}

.sign-container a {
    text-decoration: none;
    color: #434343;
}

.sign-container a:hover {
    text-decoration: underline;
}

.sign-container p {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}


@media (max-width: 1024px) {
    .sign-container {
        width: 100%;
        margin: 0 20px;
    }
}

@media (max-width: 768px) {
    .sign-container {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .sign-container {
        width: 90%;
    }
}

@media (max-width: 360px) {
    .sign-container {
        width: 100%;
    }
}
