<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories Page</title>
    <link rel="stylesheet" th:href="@{/css/board/storied.css}">
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            position: relative;
            text-align: left;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
        }

        #modalContent {
            white-space: normal;
            word-wrap: break-word;
            max-height: 400px;
            overflow-y: auto;
            margin-bottom: 20px;
        }

        .heart-icon .heart-path[fill="none"] {
            fill: transparent;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="content-wrapper">
    <section class="post-content">
        <h2>자서전 구경하기</h2>
        <div class="story_board">
            <div th:if="${stories.isEmpty()}" style="text-align:left; left:50%;">아직 공개된 자서전이 없어요</div>
            <div th:each="story, iterStat : ${stories}" class="story_post" th:data-full-text="${story.finalText}">
                <div class="post-info">
                    <h3 th:text="${story.title}">제목</h3>
                    <p th:utext="${#strings.abbreviate(story.finalText, 100)}" class="content-preview">내용</p>
                    <div class="story-meta">
                        <div class="author">
                            <span th:utext="${story.userAge} + '세&nbsp;&nbsp;By ' + ${story.userName}">By User</span>
                        </div>
                        <div class="likes">
                            <button class="like-button"
                                    th:data-user-no="${session.user != null ? session.user.userNo : -1}"
                                    th:data-post-id="${story.postsId}"
                                    th:classappend="${story.liked} ? 'liked' : 'unliked'"
                                    onclick="toggleLike(event)">
                                <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path class="heart-path" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                                          th:attr="fill=${story.liked} ? 'red' : 'transparent'"
                                          stroke="red"
                                          stroke-width="2"/>
                                </svg>
                            </button>
                            <span class="likeCount" th:text="${story.likesCount}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="pagination-container">
        <a th:if="${currentPage > 1}" th:href="@{/board/post_story(page=${currentPage - 1})}">&lt;</a>
        <div class="pagination">
            <span th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:classappend="${pageNum == currentPage} ? 'current' : ''">
                <a th:if="${pageNum != currentPage}" th:href="@{/board/post_story(page=${pageNum})}" th:text="${pageNum}"></a>
                <span th:if="${pageNum == currentPage}" th:text="${pageNum}"></span>
            </span>
        </div>
        <a th:if="${currentPage < totalPages}" th:href="@{/board/post_story(page=${currentPage + 1})}">&gt;</a>
    </div>
</main>

<div id="storyDetailModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modalTitle">제목</h2>
        <div id="modalContent" class="content-detail">내용</div>
        <p id="modalAuthor">By User</p>
        <div>
            <button id="modalLikeButton" class="like-button">
                <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path class="heart-path" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="transparent" stroke="red" stroke-width="2"/>
                </svg>
            </button>
            <span id="modalLikeCount" class="likeCount"></span>
        </div>
    </div>
</div>

<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>로그인이 필요한 서비스입니다.</p>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.3/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.3/purify.min.js"></script>
<script>
    function toggleLike(event) {
        const button = event.currentTarget;
        const userNo = button.getAttribute('data-user-no');
        const postId = button.getAttribute('data-post-id');

        if (userNo === '-1') {
            document.getElementById('loginModal').style.display = 'block';
            return;
        }

        // 즉시 변경
        const heartIcon = button.querySelector('.heart-path');
        const isLiked = button.classList.contains('liked');
        if (isLiked) {
            heartIcon.setAttribute('fill', 'transparent');
            button.classList.remove('liked');
        } else {
            heartIcon.setAttribute('fill', 'red');
            button.classList.add('liked');
        }

        fetch('/toggleLike', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                userNo: userNo,
                postsId: postId
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    const likeCountElement = button.nextElementSibling;
                    if (data.liked) {
                        button.classList.add('liked');
                        heartIcon.setAttribute('fill', 'red');
                    } else {
                        button.classList.remove('liked');
                        heartIcon.setAttribute('fill', 'transparent');
                    }

                    likeCountElement.textContent = data.likeCount;
                    document.getElementById('modalLikeCount').textContent = data.likeCount;
                } else {
                    document.getElementById('loginModal').style.display = 'block';
                }
            });
    }

    document.addEventListener('DOMContentLoaded', function() {
        const storyPosts = document.querySelectorAll('.story_post');
        const modal = document.getElementById('storyDetailModal');
        const closeModal = modal.querySelector('.close');

        storyPosts.forEach(function(post) {
            post.addEventListener('click', function() {
                modal.style.display = 'block';

                const title = post.querySelector('h3').textContent;
                const content = post.getAttribute('data-full-text');
                const author = post.querySelector('.author span').textContent;
                const userNo = post.querySelector('.like-button').getAttribute('data-user-no');
                const postId = post.querySelector('.like-button').getAttribute('data-post-id');
                const liked = post.querySelector('.like-button').classList.contains('liked');
                const likeCount = post.querySelector('.likeCount').textContent;

                document.getElementById('modalTitle').textContent = title;
                const htmlContent = marked(content);
                document.getElementById('modalContent').innerHTML = DOMPurify.sanitize(htmlContent);
                document.getElementById('modalAuthor').textContent = author;
                document.getElementById('modalLikeCount').textContent = likeCount;

                const modalLikeButton = document.getElementById('modalLikeButton');
                modalLikeButton.setAttribute('data-user-no', userNo);
                modalLikeButton.setAttribute('data-post-id', postId);

                if (liked) {
                    modalLikeButton.classList.add('liked');
                    modalLikeButton.querySelector('.heart-path').setAttribute('fill', 'red');
                } else {
                    modalLikeButton.classList.remove('liked');
                    modalLikeButton.querySelector('.heart-path').setAttribute('fill', 'transparent');
                }
            });
        });

        closeModal.onclick = function() {
            modal.style.display = 'none';
        };

        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        };
    });

    document.getElementById('loginModal').querySelector('.close').onclick = function() {
        document.getElementById('loginModal').style.display = 'none';
    };

    document.getElementById('modalLikeButton').addEventListener('click', toggleLike);
</script>

</body>
</html>
