<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories Page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header>
    <div class="logo">로고</div>
    <nav>
        <ul>
            <li><a th:href="@{/}">홈</a></li>
            <li><a th:href="@{/fileupload}">자서전 쓰기</a></li>
            <li><a th:href="@{/stories}">자서전 구경하기</a></li>
        </ul>
    </nav>
    <div class="mypage-button" th:if="${session.user != null}">
        <button th:onclick="|window.location='@{/mypage}'|">마이페이지</button>
    </div>
    <div class="auth-buttons">
        <div th:if="${session.user != null and session.user.userRole == 'Y'}">
            <button th:onclick="|window.location='@{/admin/admin-user}'|">관리자 페이지</button>
        </div>
        <div th:if="${session.user == null}">
            <button th:onclick="|window.location='@{/login}'|">로그인</button>
            <button th:onclick="|window.location='@{/register}'|">회원가입</button>
        </div>
        <div th:if="${session.user != null}">
            <button th:onclick="|window.location='@{/logout}'|">로그아웃</button>
        </div>
    </div>
</header>
<section class="auto-content">
    <h2>자서전 구경하기</h2>
    <div class="stories">
        <div th:each="story : ${stories}" class="story">
            <div class="story-info">
                <h3 th:text="${story.draftContent}">제목</h3>
                <p th:text="${story.userName}">이름</p>
                <p th:text="${story.userAge + '세'}">나이</p>
                <p th:text="${story.responseContent}">내용</p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-content">
        <div class="footer-section">푸터</div>
        <div class="footer-section">푸터</div>
        <div class="footer-section">푸터</div>
        <div class="footer-section">푸터</div>
    </div>
    <p>© 2024 autobiography all rights reserved</p>
</footer>
</body>
</html>
