<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="icon" th:href="@{/img/logo.jpeg}">
    <link rel="stylesheet" th:href="@{/css/user/signup.css}">
</head>
<body>
<form id="signupForm" th:action="@{/register}" method="post">
    <div class="sign-container">
        <h3>회원가입</h3>
        <p>아이디</p>
        <input class="input" type="text" name="userId" placeholder="아이디를 입력해주세요." required />
        <p>비밀번호</p>
        <input id="password" class="input" type="password" name="userPwd" placeholder="비밀번호를 입력해주세요." required />
        <input id="confirmPassword" class="input" type="password" placeholder="비밀번호를 확인해주세요." required />
        <p>이름</p>
        <input class="input" type="text" name="userName" placeholder="이름을 입력해주세요." required />
        <p>전화번호</p>
        <input class="input" type="text" name="userPhone" placeholder="010-1234-5678" required pattern="010-\d{4}-\d{4}" title="전화번호 형식이 맞지 않습니다."/>
        <p>생년월일</p>
        <div class="horizontal-group">
            <input class="input" type="text" name="userBirth" placeholder="8자리 입력 (예시. 19600101)" required />
            <select class="input" name="userGender" required>
                <option value="" disabled selected>성별</option>
                <option value="남">남</option>
                <option value="여">여</option>
            </select>
        </div>
        <div id="errorMessage" style="color: red; display: none; font-size: 13px; padding: 0 0 15px 0"></div>
        <button class="login-button" type="submit">회원가입</button>
        <p>
            <a th:href="@{/terms}">이용약관</a><br><br>
            <a th:href="@{/law}">개인정보 처리방침</a>
        </p>
    </div>
</form>

<script>
    document.getElementById('signupForm').addEventListener('submit', function(event) {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirmPassword').value;
        var errorMessage = document.getElementById('errorMessage');

        // 비밀번호 검증 정규식: 최소 8자, 대소문자 구분 없이 영문자와 숫자 포함
        var passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

        if (password !== confirmPassword) {
            event.preventDefault();
            errorMessage.textContent = '비밀번호가 일치하지 않습니다.';
            errorMessage.style.display = 'block';
        } else if (!passwordRegex.test(password)) {
            event.preventDefault();
            errorMessage.textContent = '비밀번호는 최소 8자 이상, 영문자와 숫자를 포함해야 합니다.';
            errorMessage.style.display = 'block';
        } else {
            errorMessage.style.display = 'none';
        }
    });
</script>

</body>
</html>
