@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Pretendard-Light', sans-serif;
    font-weight: bold;
    color: #0c1219;
    padding: 0;
    font-size: 17px;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    width: 100%;
    box-sizing: border-box;
}

main {
    flex: 1;
    width: 100%;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    flex-shrink: 0;
    margin-top: auto;
}

footer div {
    display: flex;
    justify-content: center; /* Horizontally center align */
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap if necessary */
    gap: 20px; /* Adjust the gap between links */
}

footer div a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

footer div a:hover {
    text-decoration: underline;
}

footer p {
    margin: 10px 0 0 0;
    font-size: 14px;
}


footer p a {
    text-decoration: none;
    color: white;
}

nav {
    flex-grow: 1;
    text-align: right;
}

nav ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
}

nav ul li a:hover {
    color: #352F36;
}

.mypage-button button,
.auth-buttons button {
    margin-left: 10px;
    padding: 8px 18px;
    border: 1px solid rgba(52, 95, 83, 0.3);
    background-color: rgba(77, 209, 170, 0.42);
    cursor: pointer;
    border-radius: 14px;
    text-decoration: none !important;
    color: #333333;
    font-family: 'Pretendard-Regular', serif;
}

.mypage-button button:hover,
.auth-buttons button:hover {
    background-color: rgba(66, 181, 147, 0.42);
}


.logo img{
    width:100px;
    /*margin-left: 20px;*/
    margin-top:0;
    margin-bottom:0;
}

@media (max-width: 767px) {
    .hamburger-menu {
        display: block;
        margin-right: 0;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #000;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        text-align: center;
        transition: right 0.3s ease-in-out;
    }

    nav.active {
        right: 0;
    }

    .close-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #000;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul li a {
        font-size: 18px; /* Font size for smaller devices */
        text-decoration: none;
        color: black;
    }

    nav ul li a:hover {
        color: #352F36;
    }

    .auth-section {
        position: absolute;
        top: 60px;
        left: 20px;
        display: none;
        flex-direction: row;
        align-items: center;
    }

    .mypage-button, .auth-buttons {
        display: none;
        margin: 0;
        padding: 0;
    }

    .mypage-button button, .auth-buttons button {
        display: block;
        margin: 5px 10px 5px 15px;
        padding: 0;
        border: none;
        background: none;
        color: gray;
        font-size: 18px; /* Font size for smaller devices */
        cursor: pointer;
    }

    nav.active .mypage-button, nav.active .auth-buttons {
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 820px) {
    .hamburger-menu {
        display: block;
        margin-right: 0;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #000;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        text-align: center;
        transition: right 0.3s ease-in-out;
    }

    nav.active {
        right: 0;
    }

    .close-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #000;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul li a {
        font-size: 24px;
        text-decoration: none;
        color: black;
    }

    nav ul li a:hover {
        color: #352F36;
    }

    .auth-section {
        position: absolute;
        top: 60px;
        left: 20px;
        display: none;
        flex-direction: row;
        align-items: center;
    }

    .mypage-button, .auth-buttons {
        display: none;
        margin: 0;
        padding: 0;
    }

    .mypage-button button, .auth-buttons button {
        display: block;
        margin: 5px 10px 5px 15px;
        padding: 0;
        border: none;
        background: none;
        color: gray;
        font-size: 20px;
        cursor: pointer;
    }

    nav.active .mypage-button, nav.active .auth-buttons {
        display: flex;
    }
}

@media (min-width: 821px) and (max-width: 1025px) {
    .hamburger-menu {
        display: block;
        margin-right: 0;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #000;
    }

    nav {
        position: fixed;
        top: 0;

        right: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        text-align: center;
        transition: right 0.3s ease-in-out;
    }

    nav.active {
        right: 0;
    }

    .close-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #000;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul li a {
        font-size: 32px;
        text-decoration: none;
        color: black;
    }

    nav ul li a:hover {
        color: #352F36;
    }

    .auth-section {
        position: absolute;
        top: 60px;
        left: 20px;
        display: none;
        flex-direction: row;
        align-items: center;
    }

    .mypage-button, .auth-buttons {
        display: none;
        margin: 0;
        padding: 0;
    }

    .mypage-button button, .auth-buttons button {
        display: block;
        margin: 5px 10px 5px 15px;
        padding: 0;
        border: none;
        background: none;
        color: gray;
        font-size: 32px;
        cursor: pointer;
    }

    nav.active .mypage-button, nav.active .auth-buttons {
        display: flex;
    }
}

@media (min-width: 1025px) {
    .hamburger-menu {
        display: none;
    }

    nav {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        background-color: transparent;
        width: auto;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    .mypage-button, .auth-buttons {
        display: flex;
        flex-direction: row;
    }

    .close-menu {
        display: none;
    }
}

@media (max-width: 480px) {
    .mypage-button button, .auth-buttons button {
        font-size: 15px;
    }
}

@media (max-width: 360px) {
    .mypage-button button, .auth-buttons button {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .mypage-button button, .auth-buttons button {
        font-size: 15px;
    }
}
