@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Light', sans-serif;
    font-weight: bold;
    margin: 0;
    color: #0c1219;
    padding: 0;
    font-size: 17px;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

nav {
    flex-grow: 1;
    text-align: right;
}

nav ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
}

nav ul li a:hover {
    color: #352F36;
}

.mypage-button button {
    margin-left: 30px;
    padding: 8px 18px;
    border: 1px solid rgba(52, 95, 83, 0.3);
    background-color: rgba(77, 209, 170, 0.42);
    cursor: pointer;
    border-radius: 14px;
    text-decoration: none !important;
    color: #333333;
    font-family: 'Pretendard-Regular', serif;
}

.mypage-button button:hover {
    background-color: rgba(66, 181, 147, 0.42);
}

.auth-buttons button {
    font-family: 'Pretendard-Regular', serif;
    margin-left: 10px;
    padding: 8px 18px;
    border: 1px solid rgba(52, 95, 83, 0.3);
    background-color: rgba(30, 223, 169, 0.16);
    color: #333333;
    cursor: pointer;
    border-radius: 14px;
}

.auth-buttons button:hover {
    background-color: rgba(33, 225, 171, 0.24);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.banner-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner-image img {
    max-width: 100%;
    height: auto;
}

.my_story {
    padding: 50px;
    background-color: #fff;
    text-align: left;
    font-family: 'Chosunilbo_myungjo';
}

.my_story h2 {
    font-size: 28px;
}

.my_story p {
    margin-bottom: 20px;
    color: gray;
}


footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
}

.story {
    width: calc(33.33% - 50px);
    margin-bottom: 50px;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}

.story-info {
    padding: 20px;
    box-sizing: border-box;
}

.story h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.story p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
}