<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>탈퇴 성공</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class = "userdelete">
        <h2>회원 탈퇴</h2>
        <p>이용해주셔서 감사합니다.</p>
        <a th:href="@{/}">메인 페이지로 이동</a>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
