<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이페이지 - 좋아요 목록</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">
    <link rel="icon" th:href="@{/img/favlo.ico}" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <section class="side_info">
        <h3>마이 메뉴</h3>
        <ul>
            <li><a th:href="@{/mypage}">내 자서전 보기</a></li>
            <li><a th:href="@{/edit}">작성 중인 자서전</a> </li>
            <li><a th:href="@{/likelist}">좋아요 목록</a></li>
            <li><a th:href="@{/myinfo}">정보 수정</a></li>
            <li><a th:href="@{/delete-account}">회원 탈퇴</a></li>
        </ul>
    </section>
    <section class="main_content">
        <div class="my_posts_info">
            <h2>관심 있는 자서전</h2>
            <h3 style="font-family: 'ChosunCentennial', serif"><span th:text="${user.userName}"></span>님이 좋아요 눌러주신 자서전 목록이에요.</h3>
            <div class="stories">
                <div th:each="post : ${likedPosts}" class="story">
                    <div class="story-info">
                        <h3 th:text="${post.title}">제목</h3>
                        <p th:attr="data-content=${post.finalText}" class="content-preview">내용</p>
                        <div class="story-meta">
                            <div class="author">
                                <span th:text="'By ' + ${post.userName}">By User</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var converter = new showdown.Converter();
        var previews = document.querySelectorAll('.content-preview');
        previews.forEach(function(preview) {
            var content = preview.getAttribute('data-content');
            content = content.replace(/<\/?[^>]+(>|$)/g, "");  // Remove HTML tags
            var html = converter.makeHtml(content);
            html = html.replace(/<\/?[^>]+(>|$)/g, "");  // Remove any HTML tags created by markdown conversion
            preview.innerHTML = html.substring(0, 100) + (html.length > 100 ? '...' : '');
        });
    });
</script>

</body>
</html>