<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/js/index.js}" th:defer></script>

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<section class="banner">
    <a th:href="@{/fileupload}" class="banner-image-link">
        <img th:src="@{/img/banner-image.png}" alt="Banner Image" class="banner-image">
    </a>
</section>
<section class="my_story">
    <h2>내 이야기 들려주기</h2>
    <p>제 인생 스토리 읽어보실래요?</p>
    <div class="stories">
        <div th:each="story : ${stories}" class="story">
            <div class="story-info">
                <h3 th:text="${story.draftContent}">제목</h3>
                <p th:text="${story.userName}">이름</p>
                <p th:text="${story.userAge + '세'}">나이</p>
                <p th:utext="${story.responseContent}" class="content-preview">내용</p>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
