<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아모여: 로그인</title>
    <link rel="icon" th:href="@{/img/logo.jpeg}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<form class="form" th:action="@{/login}" method="post">
    <div class="container">
<!--        <a th:href="@{/}"><h2>로그인</h2></a> -->
        <br><br><br>
        <h2>Login</h2>
        <input type="text" name="userId" class="input" placeholder="아이디를 입력해주세요." required />
        <input type="password" name="userPwd" class="input" placeholder="비밀번호를 입력해주세요." required />
        <div th:if="${loginError != null}" style="color: red; font-size: 13px;">
            <p th:text="${loginError}"></p>
        </div>
        <button class="login-button" type="submit">로그인</button>

        <div class="divider">
            <hr class="line" />
            <span>or continue with</span>
            <hr class="line" />
        </div>
        <a class="continuelogin" th:href="@{/register}">
            <span>회원가입</span>
        </a>
        <p>
            <a th:href="@{/terms}">이용약관</a><br><br>
            <a th:href="@{/law}">개인정보 처리방침</a>
        </p>
    </div>
</form>

</body>
</html>