<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아모여: 회원가입</title>
  <link rel="icon" th:href="@{/img/logo.jpeg}">
  <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
<form id="signupForm" th:action="@{/register}" method="post">
  <div class="sign-container">
    <a th:href="@{/}"><h2>회원가입</h2></a>
    <br><br>
    <h3>회원가입</h3>
    <p>test용</p>
    <input class="input" type="text" name="userId" placeholder="아이디를 입력해주세요." required />
    <input id="password" class="input" type="password" name="userPwd" placeholder="비밀번호를 입력해주세요." required />
    <input id="confirmPassword" class="input" type="password" placeholder="비밀번호를 확인해주세요." required />
    <input class="input" type="text" name="userName" placeholder="이름을 입력해주세요." required />
    <input class="input" type="text" name="userPhone" placeholder="010-1234-5678" required pattern="010-\d{4}-\d{4}" title="전화번호 형식이 맞지 않습니다."/>
    <input class="input" type="text" name="userBirth" placeholder="생년월일을 입력해주세요." required />
    <select class="input" name="userGender" required>
      <option value="" disabled selected>성별</option>
      <option value="남">남</option>
      <option value="여">여</option>
    </select>
    <div id="errorMessage" style="color: red; display: none; font-size: 13px; padding: 0 0 15px 0">비밀번호가 일치하지 않습니다.</div>
    <button class="login-button" type="submit">회원가입</button>
    <p>
      <a th:href="@{/terms}">이용약관</a><br><br>
      <a th:href="@{/law}">개인정보 처리방침</a>
    </p>
  </div>
</form>

<script>
  document.getElementById('signupForm').addEventListener('submit', function(event) {
    var password = document.getElementById('password').value;
    var confirmPassword = document.getElementById('confirmPassword').value;
    if (password !== confirmPassword) {
      event.preventDefault();
      document.getElementById('errorMessage').style.display = 'block';
    } else {
      document.getElementById('errorMessage').style.display = 'none';
    }
  });
</script>

</body>
</html>
